/* 1. Reset the pages */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 2. root variables */

:root{
    --primary: #2c3e50; /* dark blue color ad main color */
    --accent: #2ecc71; /* green for buttons */
    --danger: #e74c3c; /* red for Cancel,Clear */
    --warning: #f39c12; /* orange for alerts */
    --light-bg: #f4f6f9; /* light page backgrounds */
    --white: #ffffff; /* white */
    --border: #dde1e7; /* light grey borders */
    --text: #333333; /* main text */
    --text-muted: #888888; /*secondary texts */
}

/* 3. Body */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--light-bg);
    color: var(--text);
    font-size: 16px;
    line-height: 1.6;
}

/* 4. Header */
header{
    background-color: var(--primary);
    padding: 0 24px;
}

nav {
    display: flex;
    align-items: center;
    height: 56px;
}

nav a{
    color: var(--white);
    text-decoration: none;
    margin-right: 24px;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 0;
}

nav a:hover{
    color: var(--warning);
}

/* 5. Main */

main{
    max-width: 900px;
    margin: 24px auto;
    padding: 0 24px;
}

/* 6. Headings */
h1{
    font-size: 28px;
    color: var(--primary);
    margin-bottom: 8px;
}

h2 {
    font-size: 20px;
    color: var(--primary);
    margin-bottom: 12px;
}

h3{
    font-size: 17px;
    color: var(--primary);
    margin-bottom: 8px;
}

/* 7. sections */
section{
    background-color: var(--white);
    border: 1px solid var(--border);
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 20px;
}

/* 8.forms */
label{
    display: inline-block;
    width: 180px;
    font-weight: bold;
    color: #555555;
    margin-bottom: 4px;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="date"],
select,
textarea {
    padding: 9px 12px;
    border: 1px solid var(--border);
    font-size: 15px;
    width: 280px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);
    background-color: var(--white);
    margin-bottom: 4px;
}